.container{
  margin: 10px 5px;
.main{
  margin: 10px 5px;
  background-color: #242424;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}
.firstDiv{
  display: flex;
  justify-content: space-between;
}
.firstsec{
  display: flex;
  justify-content: space-around;
}
.dowload button{
  
}
.firstsec a{
  text-decoration: none;
  background-color: gray;
  border-radius: 15pc;
  padding: 10px;
  color: white;
  font-size: 12px;
  position: relative;
  bottom: 10px;
}
.firstsec h3{
  margin-top: 10px;
}