:root {
  --bgcolor: black;
  --text: white;
}
*{
  font-family: Arial;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--bgcolor);
  color: var(--text);
}
@media print { 
   .content { 
     width: 50% 
   } 
   .cv-preview { 
     height: 100%; 
     border: none; 
     box-shadow: none; 
   } 
   a[href]:after { 
     content: " (" attr(href) ")"; 
   } 
   @page{ 
     margin-left: 0px; 
     margin-right: 0px; 
     margin-top: 0px; 
     margin-bottom: 0px; 
     } 
  
 }